@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    color: #fff;
}
/* COMMON CSS  */
a {
    text-decoration: none;
    color: #fff;
}
body {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/* MAIN WEBSITE CSS  */
.head {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.head h1{
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    color: #fbc252;
}
.logo {
    display: flex;
    align-items: center;
}
.logo p {
    font-family: sans-serif;
    padding-top: 2px;
    font-size: 12px;
    color: grey;
}
.head .logo img{
    width: 60px;
}
.head a {
    padding: 30px;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
}

.btn-cta button{
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #009EFF;
    font-weight: 500;
    border: none;
    font-family: 'Lato', sans-serif;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.btn-cta button:hover {
    background-color: #0A2647;
}

.background {
    width: 100vw;
    background-size: cover;
    height: 90vh;
    background: no-repeat center center; 
    background-image: linear-gradient(rgba(0, 1, 0.5, 0.8), rgba(0, 0, 0, 0.8)), url('../Asset/hero-img.png');
}


/* HERO CTN  */ 
.hero{
    margin-top: 70px;
    text-align: center;
}
.hero-txt h1{
    font-size: 4.5rem;
    font-family: 'Lato', sans-serif;
}
.hero-txt p {
    padding-top: 18px;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: grey;
}
.hero-txt p  span{
    color: grey;
    font-weight: 700;
}
.hero-btn {
    padding-top: 40px;
}
.hero-btn button {
    padding: 10px 45px;
    color: #000;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    background-color: #fbc252;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.hero-btn button i {
    color: #000;
    transition: 0.2s ease;
}
.hero-btn button:hover {
    background-color: #FFB100;
}
.hero-btn button i:hover {
    transform: translateX(5px);
}


/* MAIN SECTION  */

.explain-box h1{
    color: #000;
}