@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    color: #fff;
}
/* COMMON CSS  */
a {
    text-decoration: none;
    color: #fff;
}

/* MAIN WEBSITE CSS  */
.head {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.head h1{
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    color: #fbc252;
}
.logo {
    display: flex;
    align-items: center;
}
.logo p {
    font-family: sans-serif;
    padding-top: 2px;
    font-size: 12px;
    color: grey;
}
.head .logo img{
    width: 60px;
}
.head a {
    padding: 30px;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
}

.btn-cta button{
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #009EFF;
    font-weight: 500;
    border: none;
    font-family: 'Lato', sans-serif;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.btn-cta button:hover {
    background-color: #0A2647;
}

.background {
    width: 100vw;
    background-size: cover;
    height: 99vh;
    background: no-repeat center center; 
    background-image: linear-gradient(rgba(0, 1, 0.5, 0.8), rgba(0, 0, 0, 0.8)), url('../Asset/hero-img.png');
    background-size: cover;
}