@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    color: #fff;
}
/* On Body CSS  */
a {
    text-decoration: none;
    color: #fff;
}
::-webkit-scrollbar {
    width: 2px;
}
::-webkit-scrollbar-track {
    background-color: grey;
}
::-webkit-scrollbar-thumb {
    width: 2px;
}



body {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/* MAIN WEBSITE CSS  */
.head {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.head h1{
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    color: #fbc252;
}
.logo {
    display: flex;
    align-items: center;
}
.logo p {
    font-family: sans-serif;
    padding-top: 2px;
    font-size: 12px;
    color: grey;
}
.head .logo img{
    width: 60px;
}
.head a {
    padding: 30px;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
}

.btn-cta button{
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #009EFF;
    font-weight: 500;
    border: none;
    font-family: 'Lato', sans-serif;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.btn-cta button:hover {
    background-color: #0A2647;
}

.background {
    width: 100vw;
    background-size: cover;
    height: 100vh;
    background: no-repeat center center; 
    background-image: linear-gradient(rgba(0, 1, 0.5, 0.8), rgba(0, 0, 0, 0.8)), url('../Asset/hero-img.png');
}


/* HERO CTN  */ 
.hero{
    margin-top: 70px;
    text-align: center;
}
.hero-txt h1{
    font-size: 4.5rem;
    font-family: 'Lato', sans-serif;
}
.hero-txt p {
    padding-top: 18px;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: grey;
}
.hero-txt p  span{
    color: grey;
    font-weight: 700;
}
.hero-btn {
    padding-top: 40px;
}
.hero-btn button {
    padding: 10px 45px;
    color: #000;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    background-color: #fbc252;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.hero-btn button i {
    color: #000;
    transition: 0.2s ease;
}
.hero-btn button:hover {
    background-color: #FFB100;
}
.hero-btn button i:hover {
    transform: translateX(5px);
}


/* MAIN SECTION  */

main {
    min-height: 700vh;
    background-color: #100F0F;
    padding-top: 2.5rem;
}

/* EXPLAIN SECTION  */


.box {
    display: flex;
}
.box > div {
    margin: auto;
    max-width: 30%;
    padding: 10px;
    font-family: 'Lato', sans-serif;
}
.box1 {
    /* border: 1px solid #fff; */
    background-color: #040303;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 10px 6px 20px -4px rgba(0,0,0,0.75);
    cursor: pointer;
    transition: 0.2s ease;
}
.box1:hover {
    transform: translateY(-5px);
}
.box .head-box1 {
    padding-bottom: 20px;
    display: flex;
    align-items: center;
}
.box .head-box1 h1 {
    color: #fbc252;
}

.box .head-box1 i {
    font-size: 25px;
    margin-left: 20px;
    margin-right: 20px;
    color: #fbc252;
}


/* LERANING SECTION  */

.learning {
    margin: 5rem 4rem;
}
.box-learning {
    display: flex;
    align-items: center;
}
.box-learning .box-txt {
    margin-left: 10px;
    font-family: 'Lato', sans-serif;
}
.box-learning .box-txt h1{
    font-size: 32px;
    margin-bottom: 30px;
    user-select: none;
}
.box-learning .box-txt p{
    line-height: 21px;
    user-select: none;
}
.box-learning .learn-img img{
    margin-bottom: 3rem;
    margin-right: 40px;
    width: 500px;
    border-radius: 20px;
}

/* ABOUT TEACHING */

.about-teaching  {
    background-image: linear-gradient(160deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)), url('../Asset/About-teaching.png');
    height: 70vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
}
.teaching {
    display: flex;
    margin: auto;
    border: 1px solid;
    max-width: 75%;
    background-color: #fff;
    border-radius: 20px;
    /* padding: 10px; */
}
.about-learn {
    max-width: 500px;
    padding: 20px;
}
.about-learn h1 {
    color: #000;
    font-size: 32px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    padding-bottom: 16px;
}
.about-learn p {
    color: #000;
    font-family: 'Lato', sans-serif;
    line-height: 22px;
}
.about-path {
    padding: 20px;
}
.about-path h1 {
    font-family: 'Montserrat', sans-serif;
    color: grey;
    font-size: 29px;
}
.about-path p {
    font-family: 'Lato', sans-serif;
    color: grey;
    font-size: 16px;
}

/* FILLER SECTION  */
.filler {
    margin-top: 3rem;
}
.team-txt h1{
    font-size: 2.5rem;
    text-align: center;
    color: #fbc252;
    font-family: 'Montserrat', sans-serif;
}
.team-slide {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.t-box {
    width: 100%;
    padding: 20px;
    user-select: none;
}
.t-img {
    width: 100%;
    height: 450px;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
}
.t-img::after {
    content: '';
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 150px;
}
.t-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: bottom;
    filter: grayscale(1);
}

.t-txt {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.t-txt strong {
    font-size: 1.2rem;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}
.t-txt span {
    color: #91919191;
    font-family: 'Lato', sans-serif;
    font-size: 0.9rem;
}
.t-social  {
    display: flex;
    justify-content: center;
    align-items: center;
}
.t-social a {
    font-size: 1.2rem;
    margin: 12px 5px;
    transition: 0.3s all ease;
}
.t-social a:hover {
    transform: translateY(-2px);
}
.swiper {
    max-width: 800px;
}
.swiper-slide {
    width: 350px !important;
    opacity: 0.2;
    margin: 50px 0px;
    margin-top: 0px;
}
.swiper-slide-active {
    opacity: 1;
}